.home-container {
  display: flex;
  flex-direction: column;
  width: 86%;

  .home-content {
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 14px;
    background: linear-gradient(74deg, #00f3ff 0%, #bc13fe 100%);

    .title-h1 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      margin: 0 0 16px 0;
      background: linear-gradient(114deg, #00f3ff -166.29%, #bc13fe 266.29%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
